
.background{
    height: 100vh;
    width: 100vw;
    background-image: url("/background.jpg");
    background-size: cover;
}

.gameboard{
    padding-top: 4em;
    margin-left: 9em;
    margin-right: 9em;
}

.scorebox{
    opacity: 0.6;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    font-size: 5em;
}


.cardarea{
    margin-top: 1em;
    width: auto;
    height: 700px;
}

.row1{
    display: flex;
    flex-wrap: wrap;
}

.row2{
    display: flex;
    flex-wrap: wrap;
}
.sizecards{
    height: 300px;
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em
}
