.hide-card {
    visibility: hidden;
}

@keyframes shake {
    0%   { transform: rotate(0deg); }
    20%   { transform: rotate(5deg); }
    40%   { transform: rotate(-5deg); }
    60%   { transform: rotate(5deg); }
    80%   { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

.card--move{
    animation-name: shake;
    animation-duration: 0.5s;
}
