.bg-gameOver{
    background-image: url("/gameOver.png");
    background-position: top center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.size{
    height: 40px;
    width: 150px; 
    margin-bottom: 900px;
    margin-right: 800px;

}

.size3, .size4{
    width: 150px;
    height: 40px;
    border: 5px;
    border-radius: 5px;
    grid-row-start: 1;
    position: relative;
    top: 60px;

}

.button2{
    display: grid;
    grid-template-columns: 30% 20% 50%;
    grid-template-rows: 30% 70%;
    justify-items: center;
}


@media screen and (max-width: 800px){
    .button2{
        display: grid;
        grid-template: 8% 8% auto / 30% 40% 30%;
    }
    .size3, .size4{
        position: relative;
        top: 40px;
    }
    .size3 {
        grid-area: 1 / 2
    
    }
    .size4{
    grid-area: 2 / 2/ 3 /3;
    }
}