.bg-home{
    height: 100vh;
    width: 100vw;
    background-image: url("/background-home.png");
    background-size: cover;
}

.button{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 75% 5% 30%;
    height: 100vh;
}

.size2{
    width: 150px;
    height: 40px;
    border: 5px;
    border-radius: 5px;
    grid-row-start: 2;
    place-self: center;
}